// ==========================================================================
// ★ GRID
// ==========================================================================
.col-2-12 {
  @include span-columns(2);
}

.col-2_5-4-12 {
  float: left;
  display: block;
  margin-right: 1.35765%;
  width: 18.23176%;
  &:nth-of-type(5n) {
    margin-right: 0;
  }
}
.col-4-12 {
  @include span-columns(4);
}

.col-8-12 {
  @include span-columns(8);
}

.col-3-6 {
  @include span-columns(3);
}
.col-3-6:nth-of-type(4n) {
  margin-right: 0;
}

.col-6-12 {
  @include span-columns(6);
}
.col-6-12:nth-of-type(2n) {
  margin-right: 0;
}